HolidayReservationSystemWebClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="searchAvailableCarModels">
<part name="parameters" element="tns:searchAvailableCarModels"/>
</message>
<message name="searchAvailableCarModelsResponse">
<part name="parameters" element="tns:searchAvailableCarModelsResponse"/>
</message>
<message name="CarModelNotFoundException">
<part name="fault" element="tns:CarModelNotFoundException"/>
</message>
<message name="checkOutletIsOpen">
<part name="parameters" element="tns:checkOutletIsOpen"/>
</message>
<message name="checkOutletIsOpenResponse">
<part name="parameters" element="tns:checkOutletIsOpenResponse"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="calculateRentalRate">
<part name="parameters" element="tns:calculateRentalRate"/>
</message>
<message name="calculateRentalRateResponse">
<part name="parameters" element="tns:calculateRentalRateResponse"/>
</message>
<message name="RentalRateNotAvailableException">
<part name="fault" element="tns:RentalRateNotAvailableException"/>
</message>
<portType name="PartnerWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/PartnerNotFoundException"/>
</operation>
<operation name="searchAvailableCarModels">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableCarModelsRequest" message="tns:searchAvailableCarModels"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableCarModelsResponse" message="tns:searchAvailableCarModelsResponse"/>
<fault message="tns:CarModelNotFoundException" name="CarModelNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableCarModels/Fault/CarModelNotFoundException"/>
</operation>
<operation name="checkOutletIsOpen">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/checkOutletIsOpenRequest" message="tns:checkOutletIsOpen"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/checkOutletIsOpenResponse" message="tns:checkOutletIsOpenResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/checkOutletIsOpen/Fault/OutletNotFoundException"/>
</operation>
<operation name="calculateRentalRate">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/calculateRentalRateRequest" message="tns:calculateRentalRate"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/calculateRentalRateResponse" message="tns:calculateRentalRateResponse"/>
<fault message="tns:RentalRateNotAvailableException" name="RentalRateNotAvailableException" wsam:Action="http://ws.session.ejb/PartnerWebService/calculateRentalRate/Fault/RentalRateNotAvailableException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchAvailableCarModels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarModelNotFoundException">
<soap:fault name="CarModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="checkOutletIsOpen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="calculateRentalRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalRateNotAvailableException">
<soap:fault name="RentalRateNotAvailableException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>